*{
  padding: 0;
  margin: 0;
  border: none;
}

body{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 2rem;
  box-shadow: 0em 0px 2px red inset,
    0em 0em 2em 0em olive;
  padding-bottom: 1rem;
}

h1{
  padding: 1em;
  font-size: 2.5rem;
}

.form-box{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 90%;
}

p {
  font-size:1rem;
  line-height: 2rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.amount, .percentage{
  font-size: 1rem;
}

#bill, #tip {
  line-height: 2rem;
  width: 100%;
  background-color: rgb(234, 245, 245);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding-left: 1%;
}

.btn{
  line-height: 2rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

span {
  font-weight: 900;
  font-size: 1.5rem;
  padding-left: 1rem;
}


@media only screen and (max-width: 450px){
  h1{
    font-size: larger;
  }

  p,
  .amount,
  .percentage,
  .btn,
  span{
    font-size: 0.75rem;
  }
}